
<div class="container bg-light mb-5 col-4">
  <% if @pagy.page == 1 %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5 text-center">
        <h1 class="display-5 fw-bold text-center">Welcome to Fancy Memes</h1>
        <p class="fs-4 text-center mx-auto">
          <%= Faker::Hacker.say_something_smart %>
        </p>
      </div>
    </div>
  <% else %>
    <div class="pt-5 px-5 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">Fancy Memes</h1>
      </div>
    </div>
  <% end %>

  <% if @pagy.page == 1 && @posts.count == 0 %>
    <h1 class="display-5 py-5 fw-bold text-center">
      There are no <s>cats</s> posts 😕. Please add something 🙏.
    </h1>
  <% else %>
    <div class="container">
      <% @posts.each do |post| %>
        <div class="album py-3 bg-light">
          <div class="row">
            <div class="col">
              <div class="card shadow-sm">
                <div class="card-header bg-white">
                  <h2><%= post.title %></h2>
                  <p class="card-text">
                    Created by <span class="text-primary"><%= post.username %></span>
                  </p>
                </div>

                <%= image_tag(cdn_image_url(post.picture), class: "p-3") %>

                <div class="card-body">
                  <div class="row">
                    <p class="card-text"><%= post.description %></p>
                  </div>
                  <div class="row align-items-end mt-4">
                    <small class="text-muted justify-content-end">
                      Likes: <%= number_with_delimiter(post.count_likes, :delimiter => ' ') %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="container py-3">
      <%== render partial: "shared/bootstrap_nav", locals: { pagy: @pagy } %>
    </div>
  <% end %>
</div>

